{% extends 'base.html' %}
{% from "macros/modal.jinja" import modal %}

{% block header %}
<h1>{% block title %}Profile{% endblock %}</h1>
{% endblock %}

{% block content %}
<header class="sub-header">
    <h2 id="welcome-header">Welcome {{ user.name }} !</h2>
    <button class="btn btn-primary"><a href='/logout'>Logout</a></button>
</header>

<section id="main" class="my-4">
    <table class="available-to-buy table">
        <thead class="thread-light">
            <tr>
                <th scope="col">Ticket Name</th>
                <th scope="col">Available</th>
                <th scope="col" r>Purchase</th>
            </tr>
        </thead>
        <tbody>
            {% if not ticket == None %}
                {% for ticket in tickets %}
                    <tr class="ticket">
                        <td class="ticket-name" scope="row"></td>
                        <td class="ticket-quantity-available"></td>
                        <td><button class="purchase-ticket"></button></td>
                    </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan="100%" class="text-center p-4">:( Looks like there are none available</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <section class="ticket_actions container d-flex justify-content-center" role="group">
        <button type="button" class="btn btn-primary mx-3" data-target="#update-modal" data-toggle="modal"
            id="submit_new_tickets">Update Tickets</button>
            <!-- {% if ticket == None %} disabled {% endif %} put that back into update tickets -->
        <button type="button" class="btn btn-primary mx-3" data-target="#submit-modal" data-toggle="modal"
            id="update_tickets">Add Tickets</button>
    </section>
</section>

{{ modal("update", "Update Ticket") }}
{{ modal("submit", "Add New Ticket") }}

<script src=" {{ url_for('static', filename='js/display_elements.js') }}"></script>
{% endblock %}
